auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=valibot
node-options="--import data:text/javascript,const{pathToFileURL:f}=await%20import('node:url');const{join:j,dirname:d}=await%20import('node:path');const{existsSync:e}=await%20import('node:fs');let%20p=process.cwd();while(!e(j(p,'pnpm-workspace.yaml'))%26%26d(p)!==p)p=d(p);if(e(j(p,'pnpm-workspace.yaml')))await%20import(f(j(p,'packages','shared','config','tooling','node','src','register-aliases.mjs')).href)"
